{% extends "./base.html" %} {% block title %} its here page {% endblock title %} {% block content %}
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium maxime numquam fugiat
  voluptates eius! Dolores ratione distinctio adipisci quidem similique vero quaerat ad tenetur iste
  nisi omnis nam, tempora porro, unde provident hic error! Nam, quod ullam sed eos hic non ea optio
  necessitatibus debitis id praesentium similique, numquam magnam illum architecto? Ut tempora
  consequatur voluptates at, repellat, atque ipsum magnam animi facere possimus officiis ipsam
  recusandae eius accusamus beatae iste tempore ducimus pariatur. Earum repellat recusandae, nam
  voluptatibus rem fugiat facere modi officiis assumenda facilis id dolor adipisci exercitationem
  cum labore atque alias tenetur reiciendis ab aperiam vero soluta molestiae corporis? Non deserunt
  expedita quasi ratione velit voluptates. Earum harum quas libero sequi! Vitae alias reprehenderit
  facere quae aliquid.
</p>
<span>{{num}}</span>
{% endblock content %}
